body{
    background-image: url(images/lion-wild-cat-south-africa-wallpaper-animals-desktop-hd-background-wallpapers-free-amazing-cool-tablet-smart-phone-high-definition-1920x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.container{
    background-color: rgba(195, 206, 195, 0.445);
    color: transparent;
}