h1
{
    color:blue ;
    font-style: italic;
    text-align: center;
}
p
{  
    color: white;
    font-style: initial;
    text-align: center;
}
h2
{
    color:blue;
    font-style: oblique;
    text-align:center ;
}
body{
    background-image: url(/home/don/Downloads/lion-wild-cat-south-africa-wallpaper-animals-desktop-hd-background-wallpapers-free-amazing-cool-tablet-smart-phone-high-definition-1920x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    col
    

}